@import '../../styles/utils/colors';

.submitButton{
  text-align: center;
  color: white;
  line-height: 50px;
  font-size: 20px;
  border-radius: 25px;
  font-weight: 600;
  background-color: $grass-blade;
  padding: 0 2em;
  cursor: pointer;
}

.withLoader{
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-logo{
  height:20px;
  margin-left:10px;
}

.loading{
  animation: rotation 1s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}