@import '../../styles/utils/colors';

.startButton{
  color: white;
  line-height: 50px;
  font-size: 20px;
  border-radius: 25px;
  font-weight: 600;
  background-color: $grass-blade;
  padding: 0 2rem 0 2rem;
  cursor: pointer;
}

.submitButton{
  color: white;
  line-height: 50px;
  font-size: 20px;
  border-radius: 25px;
  font-weight: 600;
  background-color: $grass-blade;
  padding: 0 0.2rem 0 1.8rem;
  cursor: pointer;
}

.container{
  width:6rem;
  display: flex;
  align-items: center;
}

.loader{
  height:20px;
  margin-left:2px;

  animation: rotation 1s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}